@import url("https://fonts.googleapis.com/css2?family=Lobster");

html,
body {
  font-family: serif;
}

#content {
  height: auto;
  width: 100%;
}

h1 {
  font-size: 30rem;
  font-family: "Lobster", sans-serif;
}
